BasedOnStyle: LLVM

IndentWidth: 4
ColumnLimit: 120
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveBitFields: Consecutive
AlignConsecutiveDeclarations: Consecutive
AlignConsecutiveMacros: Consecutive
AlignTrailingComments: true
AlwaysBreakTemplateDeclarations: Yes
IndentPPDirectives: BeforeHash
PointerAlignment: Left
ReferenceAlignment: Left
QualifierAlignment: Right

IncludeBlocks: Regroup
IncludeCategories:
  - Regex: "^<glm"
    Priority: 3
    SortPriority: 3
    CaseSensitive: true
  - Regex: '"PreRTS.h"'
    Priority: 1
    SortPriority: 1
    CaseSensitive: true
  - Regex: '^"'
    Priority: 4
    SortPriority: 4
    CaseSensitive: true
  - Regex: "^<"
    Priority: 2
    SortPriority: 2
    CaseSensitive: true